<div  class="card" id="post-${{idPost}}">
  <img class="cardImage" src="{{thumbnail}}" alt="Missing image">
  <div class="cardBody">
    <p id="title" class="cardTitle">{{title}}</p>
    <div id="viewPost">
      <a href="/post/{{idPost}}" class="anchorButton viewPost">View Post</a>
    </div>
  </div>
</div>