

<nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img id="logo" src="../../public/pictures/download.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Build Share</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
            {{#if logged}}
              <li class="nav-item">
                <a class="nav-link active" href="/createPost">Post Image</a>
              </li>
              <li class="nav-item">
                <a id="logout" class="nav-link active">logout</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link active" href="/login">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/registration"><strong>Register</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/createPost">Post Image</a>
              </li>
            {{/if}}
        </ul>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" >
            <div class="input-group-prepend" id="searchBtn">
              <span class="input-group-text searchBtn" id="basic-addon">search</i></span>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</nav>