<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/login.css" />
    <title>Login</title>
  </head>
  <body>
    
      <form class="login-form">
        <fieldset class="login-fieldset">
            <div class="login-form-header">Login to your account</div>
            <!-- username -->
            <input 
              class="login-input" 
              type="text"  
              placeholder="Username"
              name="username"
              type="username"
              id="username"
             />
             <!-- password -->
            <input class="login-input" 
              type="password" 
              placeholder="Password" 
              name="password"
              id="password"
            />
            <!-- login button -->
            <button class="login-button" type="submit">Login</button>
            
            <!-- link to reg page -->
            <div class="reg-link-div">
                <a class="reg-link" href="/registration">Register</a>
            </div>
        </fieldset>
    </form>
    <script src="../public/JavaScript/login.js"></script>

  </body>
</html>