.login-form,
.login-form * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

/* whole form */
.login-form {
  max-width: 350px;
  margin: 170px auto 15px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background: #eeeeee;
}

/* fieldset */
.login-fieldset {
  padding: 30px;
  border: none;
}

/* both headers on page */
.login-form-header,
.login-Header-Name
{
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
}

/* inputs for login */
.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: #ffffff;
  outline: none;
  transition: border-color 0.5s;
}
.login-input:focus {
  border-color: #009578;
}
.login-input::placeholder {
  color: #aaaaaa;
}

/* login button */
.login-button {
  padding: 10px;
  color: white;
  font-weight: bold;
  background: #009578;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-button:active {
  background: #008067;
}

.reg-link-div {
  margin-top: 15px;
  text-align: center;
}
.reg-link{
  font-size: 0.9em;
  color: #008067;
  text-decoration: none;
}
